body {
    overflow: auto;
}

#block-transparent {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(127, 127, 127, 0.351);
    display: none;
}

#block-fix {
    display: flex;
    height: 50px;
    width: 235px;
    padding: 0 25px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #DB8876;
    position: fixed;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 50px;
    bottom: 0px;
    right: 0px;
    z-index: 4;
}

.like-img {
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
    font-size: 14px;
    width: 100%;
    justify-content: center;
    flex-direction: row-reverse;
}

.total-like {
    height: 20px;
    margin-left: 10px;
}

.name {
    color: #D3573C;
    font-size: 40px;
    font-weight: normal;
    margin-block-start: 0px;
}

.profil-tagline {
    color: #525252;
    margin-top: 33px;
}

.price {
    color: #000000;
    font-size: 20px;
}

.photograph-header article {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photograph-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 150px;
    margin-bottom: 45px;
}

.photograph-media article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox-medias {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #901C1C;
}

.photograph-media article img {
    height: 300px;
    width: 400px;
    border-radius: 5px;
    object-fit: cover;
}

.photograph-media article video {
    height: 300px;
    width: 400px;
    border-radius: 5px;
    object-fit: cover;
}

.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
    color: #901c1c;
}

.like-image {
    height: 20px !important;
    width: 20px !important;
}

.div-profil {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.div-likes {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.span-likes {
    display: flex;
}

.h2-likes {
    margin-right: 5px;
    font-size: 21px;
}

.likes {
    display: flex;
    flex-direction: row-reverse;
    width: 70px;
    height: 79px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.main_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_modal {
    display: none;
    justify-content: center;
    position: absolute;
    z-index: 4;
    width: 100%;
}

.contact_button {
    margin-top: 290px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.submit_button {
    margin-top: 530px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    margin-top: 50vh;
    transform: translateY(-50%);
    border-radius: 5px;
    position: fixed;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    top: 0px;
}

.modal header {
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 100%;
}

.modal-body {
    width: 100%;
}

.modal header img {
    cursor: pointer;
    height: 33px;
    margin-bottom: 20px;
}

.modal header h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 10px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: 600px;
}

form label {
    color: #312E2E;
    font-size: 24px;
}

form div {
    width: 100%;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form textarea {
    border: none;
    width: 100%;
    border-radius: 5px;
    height: 100px;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    width: 85%;
    padding: 40px 0px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

#menu-options {
    background-color: #901C1C;
    border: none;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 5px;
}

.text-tri {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
}

.inactive, hr {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.selected-inactive {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.angle-down {
    height: 20px;
    width: 20px;
}

.angle-up {
    display: none;
    height: 20px;
    width: 20px;
}

fieldset {
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #901C1C;
    color: white;
    border: none;
}

fieldset label {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.menu-by {
    height: auto;
}

.menu-select {
    margin-left: 20px;
    z-index: 3;
}

.input {
    display: none;
}

#liste {
    list-style: none;
    padding: 0px 20px;
    cursor: pointer;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

li {
    padding: 10px 0px;
}

.text-label:hover {
    color: #DB8876;
}

#lightbox {
    display: none;
    flex-direction: column;
    z-index: 4;
    position: fixed;
    margin-top: 50vh;
    transform: translateY(-50%);
    background-color: white;
    padding: 30px;
    top: 0px;
}

.lightbox-content {
    display: flex;
    align-items: center;
}

.lightbox-photo-content {
    justify-content: center;
    display: flex;
}

#lightbox img {
    width: 30%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

#lightbox video {
    width: 30%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.div-video {
    width: 400px;
    height: 300px;
    z-index: 2;
    margin-bottom: 72px;
    position: absolute;
}

.left-arrow, .right-arrow {
    height: 50px !important;
    width: 60px !important;
}

.close-lightbox {
    height: 20px !important;
    margin-left: auto;
    width: 20px !important;
    margin-left: auto !important;
    margin-right: 0px !important;
}

/**** Responsive tablet ****/

@media screen and (max-width: 1222px) {
    .photograph-media {
        grid-template-columns: 1fr 1fr;
    }
}

/**** Responsive smartphone ****/

@media screen and (max-width: 1114px) {
    .photograph-header img {
        margin-bottom: 129px;
    }

    .menu {
        margin-top: 180px;
    }

    .contact_button {
        margin-top: 622px;
    }

    .photograph-header article {
        flex-direction: column;
        width: auto;
    }

    .photograph-header article {
        background-color: white;
    }

    .photograph-media {
        margin-top: 319px;
    }

    .modal header h2 {
        line-height: 26px;
    }

}

/**** Responsive smartphone ****/

@media screen and (max-width: 818px) {
    .photograph-media {
        grid-template-columns: 1fr;
    }

    .menu {
        margin-top: 220px;
    }

    .photograph-media {
        margin-top: 386px;
    }

    .profil-tagline {
        line-height: 17px;
        font-size: 15px;
    }

    .place {
        line-height: 17px !important;
    }

    .modal {
        width: 70%;
    }

    .modal header {
        display: flex;
        flex-direction: row;
    }

    .modal header h2 {
        font-size: 22px;
    }

    #lightbox img {
        padding: 0px;
    }

    .left-arrow, .right-arrow {
        height: 30px !important;
    }

    .div-video {
        width: 100%;
    }

    #lightbox video {
        width: 80%;
    }

    #lightbox {
        padding: 0px;
    }

    #lightbox img {
        width: 50%;
        padding: 5px;
        margin-bottom: 10px;
    }

}

/**** Responsive little smartphone ****/

@media screen and (max-width: 465px) {
    .name {
        font-size: 25px;
        margin-top: 33px;
    }

    .contact_button {
        margin-top: 567px;
    }

    .photograph-header article {
        padding: 0px;
    }

    .photograph-media {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .photograph-media article img {
        width: 100%;
    }

    .photograph-media article {
        width: 100%;
    }

    .menu {
        width: auto;
    }

    .photograph-media article video {
        width: 100%;
    }

    #lightbox img {
        width: 80%;
    }

}